
.carousel-inner .item img
    width 100%
    height 500px
.Carousel-container-margin
  margin-left 0
  margin-right 0

.Carousel-container-pading
  padding-left 0
  padding-right 0
.InfoContainer
  background-color #99c84a
.InfoContainer h4
  margin 1em 0
  color white
.Img
  img
    height 20em
    margin-top 2em
@media (max-width 892px)
  .Img
    img
      width 80%
